* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF6900
}

header nav {

    display: flex;
    justify-content: space-between;

    max-width: 1020px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

header nav div {
    display: flex;
}

header nav div ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header nav div ul li a {
    text-decoration: none;

    font-size: 12px;
    font-family: sans-serif;

    color: white;
}

header nav div img {

    align-self: center;
    width: 100px;
    
}

/* Fine Header */

/* Inizio Main */
main section {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 1020px;
    margin: auto;
}

main section .Articles {
    flex-direction: column;
    justify-content: flex-start;

    margin: 0;
    padding-top: 30px;
}

main section .Articles div {
    max-width: 330px;
}

main section .Articles div img {
    width: 330px;
}

/* Inizio stilizzazione elementi immagine */

main section .Articles #img {
    position: relative;
}

main section .Articles #img a {
    text-decoration: none;
    color: black;
}

main section .Articles #img a:nth-child(2) {
    position: absolute;
    top: 10px;
    right: 0;

    font-size: large;
    padding: 5px 8px;

    background-color: white;
}

main section .Articles #img span:nth-child(3) {
    position: absolute;
    bottom: 50px;
    left: 0;

    font-size: small;
    padding: 3px 6px;

    color: white;
    background-color: #FF0000;
}

main section .Articles #img span:nth-child(4) {
    position: absolute;
    bottom: 50px;
    left: 43px;

    font-size: small;
    padding: 3px 6px;

    color: white;
    background-color: #008000;

}

/* Fine stilizzazione elementi immagine */

/* Inizio stilizzazione descrizione Articolo */

main section .Articles div #brand {
    font-size: 10px;
    color: gray;
}

main section .Articles div #name-article {

    margin-bottom: -5px;

    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}

main section .Articles div #price-discount {
    font-size: 11px;
    font-weight: bold;

    color: #FF0000;
}

main section .Articles div #real-price {
    font-size: 11px;

    text-decoration: line-through;
}

main section .Articles #img #box-green {
    position: absolute;
    bottom: 50px;
    left: 0;

    font-size: small;
    padding: 3px 6px;

    color: white;
    background-color: #008000;
}

/* Inizio Footer */

footer {

    margin-top: 40px;
    padding: 31px 0;

    background-color: #1A1A1A;
    color: white;
}

footer #container-footer {

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1020px;
    margin: auto;
}


/* Info */

footer #container-footer #infobox h2 {

    margin-bottom: 7px;

    font-size: 12px;
    font-family: sans-serif;

}

footer #container-footer #infobox div ul {
    display: flex;
    gap: 10px;

    font-family: sans-serif;
    font-size: 10px;
    list-style-type: none;
}

footer #container-footer #infobox div ul li a {

    text-decoration: none;

    color: white;

}


/* Social */

footer #container-footer #social h2 {
    margin-bottom: 7px;

    font-size: 11px;
    font-family: sans-serif;
}

footer #container-footer #social div ul {
    display: flex;
    gap: 10px;

    font-family: sans-serif;
    font-size: 10px;
    list-style-type: none;
}

footer #container-footer #social div ul li a .fa {

    padding: 2px;

    font-size: 10px;
    text-decoration: none;

    color: black;
    background-color: #fff;

}

/* Parte degli Hover */

main section .Articles.one #img img:hover {
    content: url(/img/1b.webp);
}

main section .Articles.two #img img:hover {
    content: url(/img/2b.webp);
}

main section .Articles.tree #img img:hover {
    content: url(/img/3b.webp);
}

main section .Articles.four #img img:hover {
    content: url(/img/4b.webp);
}

main section .Articles.five #img img:hover {
    content: url(/img/5b.webp);
}

main section .Articles.six #img img:hover {
    content: url(/img/6b.webp);
}

/* Hover Cuori */

main section .Articles #img a:nth-child(2):hover {
    color: red;
}