* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF6900
}

header nav {

    display: flex;
    justify-content: space-between;

    max-width: 1020px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

header nav div {
    display: flex;
}

header nav div ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header nav div ul li a {
    text-decoration: none;

    font-size: 12px;
    font-family: sans-serif;

    color: white;
}

header nav div img {

    align-self: center;
    width: 100px;
    
}

/* Fine Header */

/* Inizio Main */
main section {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 1020px;
    margin: auto;
}

main section .Articles {
    flex-direction: column;

    padding-top: 30px;
}

main section .Articles div {
    max-width: 330px;
}

main section .Articles div img {
    width: 330px;
}

/* Inizio stilizzazione elementi immagine */

main section .Articles #img {
    position: relative;
}

main section .Articles #img span:nth-child(2) {
    position: absolute;
    top: 10px;
    right: 0;

    font-size: large;
    padding: 5px 8px;

    background-color: white;
}

main section .Articles #img span:nth-child(3) {
    position: absolute;
    bottom: 50px;
    left: 0;

    font-size: small;
    padding: 3px 6px;

    color: white;
    background-color: #FF0000;
}

main section .Articles #img span:nth-child(4) {
    position: absolute;
    bottom: 50px;
    left: 43px;

    font-size: small;
    padding: 3px 6px;

    color: white;
    background-color: #008000;

}

/* Fine stilizzazione elementi immagine */

/* Inizio stilizzazione descrizione Articolo */

main section .Articles div #brand {
    font-size: 10px;
    color: gray;
}

main section .Articles div #name-article {
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}

main section .Articles div #price-discount {
    font-size: 11px;
    font-weight: bold;

    color: #FF0000;
}

main section .Articles div #real-price {
    font-size: 11px;

    text-decoration: line-through;
}








main section .Articles #img #box-green {
    position: absolute;
    bottom: 50px;
    left: 0;

    font-size: small;
    padding: 3px 6px;

    color: white;
    background-color: #008000;
}



